.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 33% 0;
    text-align: center;
    background: url(../img/homeless3.jpg) no-repeat center scroll;
    color: white;
    background-color: black;
    margin-top: 6em;
  }

.about {
    text-align: center; 
    font: red;

}
