.intro {
    width: 100% !important;
    height: auto;
    padding: 33% 0;
    text-align: center;
    background: url(../img/homeless3.jpg) no-repeat center scroll;
    color: white;
    background-color: black;
    margin-top: 6em;
  }

.about {
    text-align: center; 
    font: red;

}
.body2 {
    text-align: center; 
    padding: 5%;

}
.footer {
    padding: 3%;
    text-align: center;
    color: white;
    background-color: black;
}

.title {
    font-size: 100px;
}

.meat {
    font-size: 50px;
}