.intro {
    width: 100% !important;
    height: auto;
    text-align: center;
    /*background: url(../img/homeless3.jpg) no-repeat center scroll;*/
    color: white;
    background-color: black;
    margin-top: 6em;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
  }

.about {
    text-align: center; 
    font: red;
    font-family: "Chalkboard", Times, serif;

}
.body2 {
    text-align: center; 
    padding: 5%;
    font-family: "Chalkboard", Times, serif;
    font-size: 23px;

}
.footer {
    padding: 3%;
    text-align: center;
    color: white;
    background-color: black;
}
.wrapper {
    width: 100%;
 }

